<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./partials/head', {title: 'VC一覧'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('./partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">
  <div class="kk-container kk-padding-s" size-s left>
    <div class="didp-title kk-margin-right">VC一覧</div>

    <% for (issuer of issuerList) { %>
    <div class="kk-accordion kk-margin-top kk-flex" theme="icon">
      <span class="kk-margin-right-ss material-symbols-outlined">account_balance</span>
      <span><%= issuer.name %></span>
    </div>
    <div class="kk-margin-left-l" grid-col>
      <% 
        for (credential of issuer.credentialList) {
          const metadata = JSON.parse(credential.metadataJson)
      %>
      <div class="kk-col6@s kk-col12" cell>
        <div class="kk-flex"><span class="kk-margin-right-ss material-symbols-outlined">badge</span><%= credential.name %></div>
        <a class="didp-linkbox" href="/issuer/credential/<%= credential.id %>/vc/">
          <%- include('./partials/vcDisplay', {func, metadata, param: {isNoDescription: true}}); %>
        </a>
      </div>
      <% } %> 
    </div>
    <% } %> 

  </div>
</div>

<script>
</script>

</body>
</html>